.hero_paragraph {
    font-size: 26px;
}
.usps__child.right,
.usp-card__wrap,
.input.message,
.contact-form_wrap,
.h-usp__child,
.usp-horizontal__wrap,
.hero__child,
.wizard__child.right,
.block__child.text,
.p-evolution-grid__parent,
.wahed-right-2,
.marquee__text {
    text-align: right;
}
.usp-icon_wrap {
    justify-content: end;
}
.content-headings__wrapper {
    padding-right: 25px;
}
.main-button-wrapper {
    justify-content: end;
}
.paragraph__wrapper.margin-bottom.hero {
    width: 100%;
}
.wahed-right {
    display: flex;
    flex-direction: column;
    align-items: end;
}
@media screen and (max-width: 767px) {
    .nav_likns-mobile {
        padding-top: 2em;
        text-align: right;
    }
}
.h-usp-card__wrap {
    align-items: end;
}
.footer__child-m {
    flex-direction: row-reverse;
    text-align: right;
}
.end-wahed {
    width: 100%;
    justify-content: end;
}
.footer__link {
    padding: 0.5em 0.5em;
}
@media screen and (max-width: 479px) {
    .footer__c-wrap {
        grid-template-columns: 1fr;
    }
}
.wahed-copy {
    width: 100%;
}
@media screen and (max-width: 767px) {
    .footer__logo-wrap {
        margin-left: auto;
    }
}
@media screen and (max-width: 479px) {
    .footer__c-wrap.second {
        grid-template-columns: 1fr;
    }
}
.visual-three__top-img {
    margin-right: 0;
    margin-left: 8px;
}
.visual-three__bottom-img {
    margin-left: 0;
    margin-right: 16px;
}
.m-b-arrow {
    margin-right: 0.6em;
}
.input_wrap.right-m {
    margin-left: 0.63em;
}
.nav__symbol-wrapper {
    margin-right: 6px;
    margin-left: 6px;
}
.radio-button-none.w--redirected-checked {
    margin-right: 0;
    margin-left: 1.25em;
}
.close-embed_svg {
    margin-left: 6px;
    margin-right: 0;
}
